.container_large {
    margin-top: 5rem;
    width: 100%;
    background-color: white;
    padding-bottom: 5rem;
}

.campaign_holder {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    padding-bottom: 2rem;
}

.campaign_holder_end {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    padding-bottom: 2rem;
}

.header {
    max-width: 40rem;
    line-height: 1.2;
    font-weight: 900;
    font-size: var(--size-700);
    color: #FFCD3C;
    margin-left: 2rem;
    margin-right: 1rem;
}

.ender {
    max-width: 40rem;
    line-height: 1.2;
    font-weight: 900;
    font-size: var(--size-600);
    color: white;
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: center;
}

.contact {
    color: white;
    font-size: 1.35rem;
}

.contact_info {
    color: white;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    font-weight: 600;
}

.campaign_holder p {
    margin-left: 2rem;
    margin-right: 1rem;
    color: #FFCD3C;
    font-weight: 900;
    font-size: var(--size-500);
    max-width: 36rem;
}

.attention {
    color: white;
}

.attention_btn {
    color: white;
    font-size: 1.35rem;
}

.grid_layout {
    padding-top: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: .2rem;
    padding-bottom: 1rem;
}

.card {
    background-color: var(--clr-primary);
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.price {
    color: #FFCD3C;
    font-weight: 900;
    font-size: 1.75rem;
}

.product_function_grid {
    display: grid;

}

.img_holder {
    display: flex;
}

.product_function_items {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.infoCard {
    margin: 0 auto;
    padding-top: 1rem;
}

.infoCard_second {
    margin: 0;
    padding-bottom: 1rem;
}



@media (min-width: 600px) {
    .grid_layout {
        grid-template-columns: repeat(2, 1fr);
    }

    .product_function_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile_break {
        display: none;
    }
}