
.btn_hollow {
    font-family: inherit;
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--clr-secondary);
    border-radius: 0.2em;
    box-sizing: border-box;
    color: var(--clr-secondary);
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 1rem;
    font-weight: 700;
    height: 2.5rem;
    justify-content: center;
    
    line-height: 24px;
    min-width: 140px;
    width: 13rem;
    max-width: 13rem;
    outline: 0;
    padding: 0 1.7rem;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn-hollow:focus {
    color: #171e29;
  }
  
  .btn_hollow:hover {
    background-color: transparent;
    border-color: var(--clr-secondary);
    fill: #06f;
  }

  .btn_hollow:hover svg{
        transform: translateX(0);
             
  }
  
  .btn_hollow:active {
    background-color: #3385ff00;
    border-color: #3385ff;
    fill: #06f;
  }

  .btn_hollow svg {
    transform: translateX(-12px);
    transition: all 0.3s ease;
  }
  
  @media (min-width: 768px) {
    .btn_primary {
      min-width: 170px;
    }
  }

  .arrow_holder {
    margin-top: 0.45rem;
    margin-left: 1.2rem;
  }