.container {
    padding-bottom: 3rem;
    padding-top: 9rem;
}

.container ul, .container li {
    list-style: none;
    text-decoration: none;
}

.container ul {
    padding-left: 0;
    margin-left: 0;
}

.container h1 {
    line-height: 1.2;
    font-weight: 700;
    font-size: var(--size-600);
    color: var(--clr-primary);
}

.container h2 {
    font-weight: 500;
    font-size: var(--size-400);
    color: var(--clr-text-dark);
}

.container h3 {
    font-weight: 500;
    color: var(--clr-primary);
}

.even_columns {
    display: grid;
    gap: 1rem;
}

.image_holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet_point {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--clr-primary);
    font-weight: 600;
}

.second_section {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.image_container {
    display: flex;
    justify-content: center;
    
}

.image_holder {
    position: relative;
    width: 325px;
    height: 325px;
    object-fit: contain;
  
}

@media (min-width: 62em) {

    .image_holder {
        position: relative;
        width: 500px;
        height: 500px;
        object-fit: contain;
      
    }

    .container {
        --max-width: 1200px;
        --padding: 1rem;
    
        width: min(var(--max-width, 100% - var(--padding) * 2));
        margin-inline: auto;
    }
    .container p {
        font-size: 18px;
    }
    .even_columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

}


@media (max-width: 61em) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}