.container {
    padding-bottom: 3rem;
    padding-top: 9rem;
}

.container h1 {
    line-height: 1.2;
    font-weight: 700;
    font-size: var(--size-600);
    color: var(--clr-primary);
}

.container h2 {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--clr-text-dark);
}

.container h3 {
    font-weight: 500;
    color: var(--clr-primary);
}

.container h5 {
    font-size: 1.15rem;
    color: var(--clr-text-dark);
}


.even_columns {
    display: grid;
    gap: 1rem;
}



.second_section {
    margin-top: 3rem;
    margin-bottom: 2rem;
   
}

.color_heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--clr-primary);
}

.bullet_point {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    color: var(--clr-primary);
    font-weight: 600;
}

.container ul, .container li {
    list-style: none;
    text-decoration: none;
}

.container ul {
    padding-left: 0;
    margin-left: 0;
}

.image_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image_holder {
    position: relative;
    width: 325px;
    height: 325px;
    object-fit: contain;
  
}
/* Mobile screen */
.image_holder_large {
    position: relative;
    width: 325px;
    height: 365px;
    object-fit: contain;
  
}

.colorHead {
    color: var(--clr-primary);
}

.contact_prompt {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.contact_prompt h4 {
    font-size: 1.4rem;
    color: var(--clr-text-dark);
    margin: 0;
}

.contact_prompt h5 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--clr-text-dark);
}

.smartlas_info h5{
    font-size: 1.4rem;
    color: var(--clr-text-dark);
}

.smartlas_info ul, .smartlas_info li {
    list-style: inside;
    margin: .5rem;
    font-size: 1.1rem;

}

.smartlas_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
}

.link_text {
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.divider {

    padding-bottom: 2rem;
    padding-top: 1rem;
}

.spacer {
    margin-top: 3rem;
}

.campaign {
    margin-top: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--clr-primary);
}

.campaign p {
    color: #FFCD3C;
    font-weight: 900;
    font-size: 1.65rem;
}
/* Desktop screen size */
@media (min-width: 62em) {

    .image_holder {
        position: relative;
        width: 500px;
        height: 500px;
        object-fit: contain;
      
    }

    .image_holder_large {
        position: relative;
        width: 500px;
        height: 650px;
        object-fit: contain;
      
    }

    .container {
        --max-width: 1200px;
        --padding: 1rem;
    
        width: min(var(--max-width, 100% - var(--padding) * 2));
        margin-inline: auto;
    }
    .even_columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

}


@media (max-width: 61em) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .smartlas_header {
        flex-direction: column;
        align-items: baseline;
    }

    .smartlas_header h5 {
        margin: 0;
    }

    .link_text {
        margin-bottom: 1.2rem;
    }
}