

  .primary_header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--clr-background-blue);
    z-index: 5;
} 
 
.container {
    max-width: 1200px;
    margin: auto;
}

.nav_wrapper {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.mobile_nav_toggle {
    display: none;
}

.nav_list {
    display: flex;
    gap: clamp(1.5rem, 5vw, 4rem);
    font-weight: 600;
    color: var(--clr-primary);
}

.nav_list a {
    text-decoration: none;
    color: var(--clr-primary);
    font-weight: 700;
}

.nav_list a:hover,
.nav_list a:focus {
    color: var(--clr-secondary);
}


@media (min-width: 50em) {
    .display_md_inline_flex {
        display: inline-flex;
    }
}

@media (max-width: 50em) {
    .primary_navigation {
        display: none;
    }

    .mobile_nav_toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5rem;
    }
    

    .mobile_nav_toggle .icon_close {
        display: none;
    }

    .display_sm_none {
        display: none;
    }
    
}



.visually_hidden {
    display: none;
}

