.content_hero_second_container h2 {
  font-weight: 700;
  font-size: var(--size-600);
  color: white;
  margin-bottom: 0;
}

.content_hero_second_container p {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

.content_hero_second_container span {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  max-width: 15rem;
  margin-bottom: 0.5rem;
}

.content_hero_second_container {
  background-color: var(--clr-primary);
}

@media (min-width: 61em) {
  .content_hero_second {
    width: 100vw;
    height: 30vh;
    background-color: var(--clr-primary);
  }

  .content_hero_second_container {
    box-sizing: content-box !important;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 1.5rem;
    --max-width: 1200px;
    --padding: 1rem;
    width: min(var(--max-width, 100% - var(--padding) * 2));
    margin-inline: auto;
  }
}

@media (max-width: 61em) {
  .content_hero_second {
    background-color: var(--clr-primary);
  }

  .content_hero_second_container {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  .divider {
    display: none;
  }
}
