.building {
    display: flex;
    justify-content: center;
}


.cardContainer {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 19rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.quickInfo h2 {
    color: var(--clr-primary);
    display: flex;
}

.cardButton {
    display: flex;
    justify-content: right;
    margin-top: 1.65rem;
}

