


.container h1 {
    max-width: 25rem;
    line-height: 1.2;
    font-weight: 700;
    font-size: var(--size-700);
    color: var(--clr-primary);
}

.container h2 {
    font-weight: 500;
    font-size: var(--size-500);
    color: var(--clr-text-dark);
    max-width: 27rem;
}

.container h3 {
    font-weight: 500;
    color: var(--clr-primary);
}

.even_columns {
    display: grid;
    gap: 1rem;
}

.padding_block_900 {
    padding-block: var(--size-900);
}

.padding_block_700 {
    padding-block: var(--size-700);
}

.button_holder {
    display: flex;
    justify-content: space-between;
    max-width: 27rem;
} 

.flow > * + * {
    margin-top: 1.5em;
}

.lasjourInfo {
    margin-top: 3rem;
}

.lasjourInfo h3 {
    max-width: 12rem;
    
}



@media (min-width: 62em) {

    .container {
        --max-width: 1200px;
        --padding: 1rem;
    
        width: min(var(--max-width, 100% - var(--padding) * 2));
        margin-inline: auto;
    }
    .even_columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

}

@media ((max-width: 62rem) and (min-width: 27.5rem)) {
    .lasjourInfo {
        flex-wrap:wrap;
        align-content: flex-start;
    }
}

@media (max-width: 61em) {
    .heroImage {
        display: none;
    }

    .desktop_button {
        visibility: none;
        display: none;
    }


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .lasjourInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}