.even_columns {
    display: grid;
    gap: 1rem;
}

.even_columns h1 {
   text-align: left;
}

.even_columns h2 {
    color: var(--clr-text-dark);
    font-size: 1.2rem;
    text-align: left;
}

.smartlock_text {
    font-weight: 400;
    font-size: 1.15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}

.actionPrompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.actionPrompt a {
    text-decoration: none;
    color: var(--clr-primary);
}

.feature_item {
    background-color: white;
    /* width: 35rem; */
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
}

.features {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    background-color: var(--clr-background-blue);
    max-height: 40rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    padding-left: 1rem;
    padding-right: 1rem;
}

.iconHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.featureInfoHolder {
    max-width: 18rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    color: var(--clr-primary);
}

.read_more {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.35rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--clr-secondary);
    margin-bottom: 1.5rem;
}

.mobile_feature_text {
    margin-top: 1rem;
}

.container {
    margin-bottom: 3rem;

}



@media (min-width: 61em) {

    .mobile_feature_text {
        visibility: hidden;
        display: none;
       
    }

    .container {
        --max-width: 1200px;
        --padding: 1rem;
    
        width: min(var(--max-width, 100% - var(--padding) * 2));
        margin-inline: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .features_container {
        margin-left: 5rem;
    }
    .even_columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .even_columns h1 {
        max-width: 26rem;
        color: var(--clr-primary);
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .even_columns h2 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .even_columns p {
        font-size: 1.1rem;
    }

}

@media (max-width: 61em) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 2rem;
    }

    .even_columns h1 {
        color: var(--clr-primary);

    }

    .even_columns {
        text-align: center;
    }

    .features {
        justify-content:flex-start;
        max-height: none;
    }

    .feature_item {
        flex-direction: column;
        text-align: center;
        max-height: 15rem;
        justify-content: center;
        align-items: center;
        
    }

    .actionPrompt {
        align-items: center;
    }

    .spacer {
        height: 3rem;
        
    }
}