.footer{
    
    background: var(--clr-primary);
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
  }

  .heading {
    color: white;
    font-weight: 300;
    font-size: 1.3rem;
  }

  .footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 2.1rem;
  }
  .footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  footer .content .link_boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
/*   .footer .content .link_boxes .box{
    width: calc(100% / 5 - 10px);
  } */
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
  }

  .content .link_boxes .box li{
    margin: 7px 0;
    list-style: none;
  }
  .content .link_boxes .box li a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
  }
  .content .link_boxes .box li a:hover{
    text-decoration: underline;
    
  }

  footer .bottom_details{
    width: 100%;
    background: var(--clr-primary);
  }
  footer .bottom_details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom_details .bottom_text span,
  .bottom_details .bottom_text a{

    font-weight: 300;
    color: #fff;
    text-decoration: none;
  }
  .bottom_details .bottom_text a:hover{
    text-decoration: underline;
  }
  .bottom_details .bottom_text a{
    margin-right: 10px;
  }
  
  .temp {
    color: white;
    font-size: 1.4rem;
  }

  @media (max-width: 900px) {
    footer .content .link_boxes{
      flex-wrap: wrap;
    }

  }
  @media (max-width: 700px){
    .footer{
      position: relative;
    }
    .content .top .logo_details{
      font-size: 26px;
    }
    footer .content .link_boxes .box{
      width: calc(100% / 3 - 10px);
    }

    .bottom_details .bottom_text span,
    .bottom_details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    .footer::before{
      top: 145px;
    }
    .footer .content .top{
      flex-direction: column;
    }
    
    .footer .content .link_boxes .box{
      width: calc(100% / 2 - 10px);
    }
    
 
  }