
.content_hero_first h2 {
    max-width: 40rem;
    line-height: 1.2;
    font-weight: 900;
    font-size: var(--size-800);
    color: #FFCD3C;
    margin: 0;
  }
  
  .content_hero_first h3 {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
  }

  .content_hero_first p {
    color: #FFCD3C;
    font-weight: 900;
    font-size: var(--size-600);
    max-width: 36rem;
  }
  

  .attention_sec p{
    font-weight: 600;
    color: #FFCD3C;
  }

  .divider {
    border-bottom: 5px solid white;
  }
  
  .spacer {
    margin-top: 1.1rem;
  }
  
  .end_spacer {
    margin-top: 0.1rem;
  }


  .content_hero_first {
    background-color: var(--clr-primary);
  }

  .price {
    color: white;
  }

  .price_att {
    color: white;
    margin-top: -1.2rem;
    font-size: 1.45rem;
  }

  .container_large {
    width: 100%;
    background-color: var(--clr-secondary);
  }

@media (min-width: 61em) {
    .content_hero_first {
      box-sizing: content-box !important;
      display: flex;
      height: 60vh;
      flex-direction: column;
      padding-top: 9rem;
      padding-left: 2rem;
      padding-right: 1.5rem;
      --max-width: 1200px;
      --padding: 1rem;
      width: min(var(--max-width, 100% - var(--padding) * 2));
      margin-inline: auto;
      color: rgb(0, 0, 0);
    }
}

@media (max-width: 61em) {
    .content_hero_first {
      box-sizing: content-box !important;
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      color: white;
    }
  
    .content_hero_first h2 {
      padding-top: 12rem;
      font-size: 2.95rem;
    }
    .content_hero_first p {
      font-size: 1.5rem;
    }
  
    .divider {
      display: none;
    }
  }

  @media (max-width: 23rem){
    .content_hero_first {
      padding-right: 0.5rem;
      padding-left: 0.5rem;;
    }
  }